p {
    font-family:"Times New Roman";
    text-align:center;
    border: 0;
    padding: 0;
}
body {margin:0;}
\\1366x695
#gameframe {width:2732px; height:417px; padding:0;}
#controlframe {margin: auto; width: 1366px; height:276px; position:fixed; top: 0; left:50%; transform:translate(-50%, 418px); padding:0;}